.titleText {
  font-size: 36px;
  color: #81d1a0;
  text-align: center;
  margin: 40px;
}

.subTitleText {
  width: 100%;
  height: 120%;
  background-color: #81d1a0;
  text-align: center;
  color: #fff;
}

.roundTest {
  width: min(35vw,35vh);
  margin: 20px auto;
  border-radius: 10px;
  background-color: #81d1a0;
}

.roundTestInner {
  width: 0px;
  height: 0px;
  padding-bottom: 100%;
}

.leftLineText {
  padding: 10px 0px 10px 20px;
  display: inline-block;
  border-left: solid 10px #81d1a0;
  margin: 25px 0;
  font-size: 25px;
  color: #232a26;
}

code {
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: #232a26;
  border-radius: 10px;
  margin: 20px;
  font-family: Consolas, Menlo, Monaco, -apple-system, BlinkMacSystemFont, "Segoe UI", Meiryo, monospace;
  font-size: 12px;
  text-align: left;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.roundWaku {
  padding: 10px;
  margin: 40px;
  border: solid 3px #81d1a0;
  border-radius: 15px;
  font-size: 20px;
}

#menu {
  width: 100%;
}

#menu ul {
  z-index: 10;
  width: 100%;
  margin: 0px;
  padding: 0;
  list-style-type: none;
}

#menu li {
  text-align: center;
  font-size: 35px;
  last-child-border-bottom: none;
}

#menu li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #232a26;
}

#menu li a:active {
  color: #fff;
  background-color: rgba(218, 60, 65, 0.5);
}

#menu li a:hover:not(.active) {
  color: #fff;
  background-color: #81d1a0;
}

.loading {
  width: 100%;
  height: 65vh;
  margin: 0 auto;
  position: relative;
}

.blogMain {
  width: 60%;
  margin: 50px auto;
}

.blogMain .text {
  margin: 25px;
  position: relative;
  left: 50px;
}

.blogMain .code {
  display: inline-block;
  color: #fff;
  background-color: #232a26;
  border-radius: 3px;
  font-family: Consolas, Menlo, Monaco, -apple-system, BlinkMacSystemFont, "Segoe UI", Meiryo, monospace;
  font-size: 12px;
  text-align: left;
  margin-left: 1px;
  margin-right: 1px;
  padding: 2px;
}

.blogMain code {
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: #232a26;
  border-radius: 10px;
  margin: 20px;
  font-family: Consolas, Menlo, Monaco, -apple-system, BlinkMacSystemFont, "Segoe UI", Meiryo, monospace;
  font-size: 12px;
  text-align: left;
  position: relative;
  left: 50px;
}

.exhibition ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.exhibition ul li {
  position: relative;
  width: 20%;
}

.exhibition ul li::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.exhibition ul li img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.menuClass {
  position: -webkit-sticky;
  position: sticky;
  width: 50px;
  height: 50px;
  color: #fff;
  background: #30b298;
  top: 10px;
  left: 10px;
  z-index: 10;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.85);
  -webkit-animation: alpha 0.2s ease 0s 1 alternate none running;
          animation: alpha 0.2s ease 0s 1 alternate none running;
}

#modal #modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-animation: zoom 0.2s ease 0s 1 alternate none running;
          animation: zoom 0.2s ease 0s 1 alternate none running;
}

#modal #modal-content #modal-image {
  position: absolute;
  bottom: 100px;
  min-width: calc(100vw - 100px);
  max-height: calc(100vh - 130px);
  -o-object-fit: contain;
     object-fit: contain;
}

#modal #modal-content #modal-text {
  position: absolute;
  font-size: 30px;
  color: #fff;
  bottom: 30px;
}

.hidden {
  display: none !important;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes alpha {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes alpha {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.linkMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.linkMenu ul {
  list-style: none;
  width: min(50%,200px);
}

.linkMenu ul li {
  display: block;
  margin: 20px 0px;
  text-align: center;
  padding: 0.2em 0.5em;
  font-size: 1.3em;
  color: #81d1a0;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px #81d1a0 solid;
  border-radius: 20px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  background: #fff;
}

.linkMenu ul li:hover {
  color: #fff;
  background: #81d1a0;
}
/*# sourceMappingURL=sass.css.map */