$green-color: #81d1a0
$white-color: #fff
$black-color: #232a26
.titleText
    font-size: 36px
    color: $green-color
    text-align: center
    margin: 40px

.subTitleText
    width: 100%
    height: 120%
    background-color: $green-color
    text-align: center
    color: $white-color


    
/// 丸角正方形
.roundTest
    width: unquote('min(35vw,35vh)')
    margin: 20px auto
    border-radius: 10px
    background-color: $green-color

.roundTestInner
    width: 0px
    height: 0px
    padding-bottom: 100%


.leftLineText
    padding: 10px 0px 10px 20px
    display: inline-block
    border-left: solid 10px $green-color
    margin: 25px 0
    font-size: 25px
    color: $black-color

code
    display: inline-block
    padding: 10px 30px
    color: $white-color
    background-color: $black-color
    border-radius: 10px
    margin: 20px
    font-family: Consolas, Menlo, Monaco, -apple-system, BlinkMacSystemFont, "Segoe UI", Meiryo, monospace
    font-size: 12px
    text-align: left

.center
    text-align: center
    margin: 0 auto



.roundWaku
   
    padding: 10px
    margin: 40px
    border: solid 3px $green-color
    border-radius: 15px
    font-size: 20px

    
#menu
    width: 100%

    ul
        z-index: 10
        width: 100%
        margin: 0px
        padding: 0
        list-style-type: none
    li
        text-align: center
        font-size: 35px
        a
            display: block
            padding: 8px 16px
            text-decoration: none
            color: $black-color
            &:active
                color: $white-color
                background-color: rgba(218,60,65,0.5)
            &:hover:not(.active)
                color: $white-color
                background-color: $green-color
        :last-child
            border-bottom: none

.loading
    width: 100%
    height: 65vh
    margin: 0 auto
    position: relative

.blogMain
    width: 60%
    margin: 50px auto

    .text
        margin: 25px
        position: relative
        left: 50px

    .code
        display: inline-block
        color: $white-color
        background-color: $black-color
        border-radius: 3px
        font-family: Consolas, Menlo, Monaco, -apple-system, BlinkMacSystemFont, "Segoe UI", Meiryo, monospace
        font-size: 12px
        text-align: left
        margin-left: 1px
        margin-right: 1px
        padding: 2px

    code
        display: inline-block
        padding: 10px 30px
        color: $white-color
        background-color: $black-color
        border-radius: 10px
        margin: 20px
        font-family: Consolas, Menlo, Monaco, -apple-system, BlinkMacSystemFont, "Segoe UI", Meiryo, monospace
        font-size: 12px
        text-align: left
        position: relative
        left: 50px


.exhibition
    ul
        display: flex
        flex-wrap: wrap
        list-style: none

        li
            position: relative
            width: 20%

            &::before
                content: ""
                display: block
                padding-top: 100%

            img
                position: absolute
                width: 100%
                height: 100%
                top: 0
                right: 0
                bottom: 0
                left: 0
                margin: auto
                object-fit: cover


.menuClass
    position: sticky
    width: 50px
    height: 50px
    color: #fff
    background: #30b298
    top: 10px
    left: 10px
    z-index: 10



#modal
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    z-index: 1000
    background: rgba(0,0,0,.85)
    animation: alpha 0.2s ease 0s 1 alternate none running

    #modal-content
        display: flex
        justify-content: center
        align-items: center
        height: 100vh
        animation: zoom 0.2s ease 0s 1 alternate none running
        
        #modal-image
            position: absolute
            bottom: 100px
            min-width: calc(100vw - 100px)
            max-height: calc(100vh - 130px)
            object-fit: contain
            

        #modal-text
            position: absolute
            font-size: 30px
            color: $white-color
            bottom: 30px

.hidden 
    display: none!important

@keyframes zoom
    0%
        transform: scale(0)
    100%
        transform: scale(1)
@keyframes alpha
    0%
        opacity: 0
    
    100%
        opacity: 1


.linkMenu
    display: flex
    align-items: center
    flex-direction: column
    
    ul
        list-style: none
        width:  unquote('min(50%,200px)')
        
        li
            display: block
            margin: 20px 0px
            text-align: center
            padding: 0.2em 0.5em
            font-size: 1.3em
            color: $green-color
            text-decoration: none
            user-select: none
            border: 1px $green-color solid
            border-radius: 20px
            transition: 0.4s ease
            background: $white-color

            &:hover
                color: $white-color
                background: $green-color