.main{
    width: calc(100vw - 300px);
    text-align: center;
}
h1{
white-space: nowrap;
}
h2{
    white-space: nowrap;
    }
.Miku{
    position: absolute;
    width: 100%;
    height: 65%;
    bottom: 0;
    z-index:10;
}
.miniMascots{
    position: fixed;
    z-index:9;
    width: 300px;
    height: 100vh;
    right:0;
    top: 0vh;
    background-color: rgb(238, 247, 255);
}


.MikuClick{
    position: absolute;
    width: 300px;
    height: 65vh;
    right:0;
    bottom: 0;
    pointer-events: none;

}

/* MENU  https://copypet.jp/codedescription/670/ */
#menu ul{ 
    position: absolute;
    z-index: 10;
    width: 300px;
	margin: 0;
	padding: 0;
	list-style-type: none;
    left: 0%;
    bottom: 65%;
    
}
#menu li{ 
	text-align: center;
}
#menu li a{
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	color: #000000;
}
#menu li:last-child {
	border-bottom: none;
}
#menu li a.active {
	color: #ffffff;
	background-color: rgba(218,60,65,0.5);
}
#menu li a:hover:not(.active) {
	color: #ffffff;
	background-color: rgba(27,37,56,0.5);
}




.yura {
    -webkit-animation: vertical 3s ease-in-out infinite alternate;
}

@-webkit-keyframes vertical {
    0% { -webkit-transform:translateY(-30px); }
  100% { -webkit-transform:translateY(  0px); }
}
